button {
  margin: 10px;
  color: black;
}

form {
  margin: 10px;
}

h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

input {
  margin: 10px;
}

.buttonBox {
  float: middle;
}
.gifBox {
  width: 100%;
  float: right;
}

.item {
  margin-bottom: 20px;
  padding: 15px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  font-size: 20px;
  font-family: 'Playfair Display SC', serif;
}

form {
  text-align: center;
}

#gifSection {
  text-align: center;
}